<div class="div-carrossel">
    <app-carousel [slides]="slides"></app-carousel>
</div>
<div class="div-home">
    <div>
        <img class="div-imagem-home" src="../../../assets/logo/soldador-profissional.jpg">
    </div>
    <div style="margin: 2rem;">
        <div>
            <span class="style-title" >
                TECNOLOGIA DE PONTA
            </span>
            <hr>
        </div>
        <div style="padding-top: 0.5rem;">
            <span class="style-text-inf" >
                Na Carretinhas & Cia, não apenas oferecemos uma ampla variedade de reboques e engates,
                mas também disponibilizamos uma linha completa de peças originais prontas para entrega
                imediata. Comprometidos em atender aos requisitos específicos do mercado, fortalecemos
                nosso compromisso com a melhoria contínua de nossos processos, buscando incessantemente
                aprimorar a qualidade de nossos produtos.
                Cada peça em nosso estoque passa por rigorosos testes de qualidade, garantindo assim produtos
                altamente tecnológicos e sujeitos a um controle rigoroso por institutos renomados. Nosso objetivo
                é proporcionar máxima qualidade e confiança aos nossos clientes, destacando-nos como uma escolha
                confiável
                e inovadora no mercado de reboques e acessórios.
            </span>
        </div>
        <div class="div-icons">
            <div class="div-text">
                <img class="div-img" src="../../../assets/icons/distintivo.png" alt=""><br>
                <span class="style-text-icon">Peças</span><br>
                <span class="style-text-icon">Originais</span>
            </div>
            <div class="div-text"> 
                <img class="div-img" src="../../../assets/icons/estoque-pronto.png" alt=""><br>
                <span class="style-text-icon">Estoque </span><br>
                <span class="style-text-icon">Atualizado</span>
            </div>
            <div class="div-text">
                <img class="div-img" src="../../../assets/icons/soldador.png" alt=""><br>
                <span class="style-text-icon">Equipe </span><br>
                <span class="style-text-icon">Especializada</span>
            </div>
            <div class="div-text">
                <img class="div-img" src="../../../assets/icons/entrega-rapida.png" alt=""><br>
                <span class="style-text-icon">Entrega</span><br>
                <span class="style-text-icon">Rápida</span>
            </div>
        </div>
    </div>
</div>
<div class="div-home-1">
    <span class="texto-superposto">Encontre a carretinha <br> perfeita para a sua necessidade</span>
    <button class="button">
        <span class="style-title">Saiba mais</span>
    </button>
    <img class="div-imagem-home-2" src="../../../assets/carretinhas/carreta-transporte-animal-2.jpg">
</div>